body {
    margin: 0;
    overflow: hidden;
}

#sound-controls {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;

}
.mute-icon {
    display: none;
}

.mute-icon,
.unmute-icon {
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}